################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/Debug/
*.pdb
*.vs/
*.suo
*.vbproj.user
*.csproj.user
*.exclude